<html>
<head>
  <title>Shit.ly</title>
</head>
	<body>
	<center>
		<h1>Shit.ly</h1>
	</center>

	<% if flash[:notice] %>
  	<p class="alert alert-success"><%= flash[:notice] %>
	<% end %>
	<% if flash[:error] %>
  	<p class="alert alert-error"><%= flash[:error] %>
	<% end %> 
	
  <%= yield %>
</body>
</html>